
/* GLOBAL STYLING */

body {
  background-image: url('./assets/burger-friends.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0px;
}

button {
  font-family: 'Roboto', sans-serif;
  border-radius: 5px;
  border: none;
  height: 7vh;
}

.hidden {
  display: none;
}

/*NAV BAR*/

nav {
  display: flex;
  justify-content: space-between;
  background-color: #0fb9b1;
  height: 7%;
  padding: 1vh;
}

.nav-bar-heading {
  font-family: 'Roboto', sans-serif;
  vertical-align: middle;
 }

 .nav-bar-buttons {
   list-style: none;
 }

 .nav-bar-buttons > li {
   float: left;
   padding: 5px;
 }

/* MAIN HOME CONTAINER */

.home-view {
  display: flex;
  justify-content: space-around;
  height: 80vh;
  padding: 5vh;
}

.home-menu {
  background-color: rgba(225, 225, 225, .9);
  width: 40vw;
  height: 35vw;
  overflow: auto;
}

.meal-selection-options {
  list-style: none;
}

/* MEAL DISPLAY*/

.meal-display {
  background-color: rgba(225, 225, 225, .9);
  width: 40vw;
  height: 35vw;
  overflow: auto;
}

.cookpot {
  height: 50px;
  width: 50px;
}

.favorites-menu {
  background-color: rgba(225, 225, 225, .9);
  width: 40vw;
  height: 35vw;
  overflow: auto;
}

/*ADD NEW RECIPE MENU*/

.recipe-submission-menu {
  background-color: rgba(225, 225, 225, .9);
  height: 7%;
  bottom: 0;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: flex-start;
}

.error-message {
  color: red;
}

.favorites-list {
  list-style: none;
}

/* font-family: 'Roboto', sans-serif;
COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253
*/
